@CHARSET "UTF-8";

#header {
	width: 100%;
	height: 70px;
	background-color: #2f343b;
	float: left;
	text-align: center;
	color: #e3cda4;
}

#menu {
	background-color: #7e827a;
	text-align: center;
	color: #e3cda4;
	width: 500px;
}

#errorblock {
	text-align: center;
	width: 500px;
	float: left;
	
}

#name {
	margin-left: 20px;
	margin-top: 20px;
	width: 178px;
	height: 38px;
	float: left;
	border-width: 0px;
	background-repeat: no-repeat;
	border: none;
}

#logo {
	margin-left: 24%;
	margin-top: 18px;
	width: 30px;
	height: 43px;
	repeat: none;
	border-width: 0px;
	background-repeat: no-repeat;
	float: left;
	border-width: 0px;
	border: none;
}

#user_login {
	margin-left: 200px;
	margin-top: 10px;
	border-width: 0px;
	border-color: white;
	float: left;
	border: none;
	text-align: right;
	width: 500px;
}

a img {
	border: none;
}

#main {
	min-height: 700px;
	width: 100%;
	background-image: url("mainbg.jpg");
	background-repeat: repeat; padding-bottom : 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#content { /*background-color: white;*/
	min-height: 700px;
	padding-top: 100px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	width: 760px;
	margin-left: 25%;
	text-align: left;
	width: 760px;
}

.left {
	color: #8B2700;
	float: left;
	border-radius: 5pt 5pt;
	background: #888;
	width: 360px;
	height: 350px;
	background-color: #DD8770;
	padding: 7px;
}

.right {
	color: #DD8770;
	padding: 5px;
	float: right;
	border-radius: 5pt 5pt;
	background: #ccc;
	width: 360px;
	height: 350px;
	background-color: #8B2700;
}

#footer {
	background-color: #703030;
	height: 100px;
	margin-top: 0px;
	margin: 0px;
	text-align: center;
	padding: 40px;
	color: #e3cda4;
	font-style: bold;
	text-decoration: none;
}

#footer>a:link,#footer>a:visited {
	color: #e3cda4;
	text-decoration: none;
	font-weight: bold;
	color:
}

#user_login>a:link,#user_login>a:visited {
	color: #e3cda4;
	text-decoration: none;
	font-weight: bold;
	color:
}

body {
	margin: 0;
}

/* slides */
#featured_slide {
	display: block;
	position: relative;
	width: 950px;
	height: 300px;
	margin: 0;
	padding: 5px;
	overflow: hidden;
	color: #666666;
	background-color: #FFFFFF;
}

#featured_slide a {
	background: transparent;
}

#featured_slide a,#featured_slide ul,#featured_slide img {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	list-style: none;
	text-decoration: none;
}

h2 {
	margin-top: 0px;
	margin-bottom: 2px;
}

/* ----------------------------------------------Generalise-------------------------------------*/
#featured_content,.featured_box,.featured_box img {
	display: block;
	width: 950px;
	height: 250px;
	overflow: hidden;
}

.featured_box,.featured_box img {
	position: relative;
}

/* ----------------------------------------------Content-------------------------------------*/
.featured_box .floater {
	display: block;
	position: absolute;
	top: 25px;
	right: 25px;
	width: 290px;
	height: 140px;
	margin: 0;
	padding: 30px;
	background-image: url("./slides/featured_slide_trans.png");
	overflow: hidden;
}

.featured_box p {
	margin: 0;
	padding: 0;
	line-height: 1.6em;
}

.featured_box p.readmore {
	text-align: right;
	margin: 0;
}

/* ----------------------------------------------Tabbed Navigation-------------------------------------*/
#featured_slide .ui-tabs-hide {
	display: none;
}

#featured_slide ul#featured_tabs {
	display: block;
	position: absolute;
	bottom: 5px;
	left: 5px;
	width: 949px;
	height: 50px;
	overflow: hidden;
	font-size: 12px;
}

#featured_slide ul#featured_tabs li {
	/* This block makes it IE6 compatible*/
	display: block;
	float: left;
}

#featured_slide ul#featured_tabs li a {
	display: block;
	float: left;
	width: 169px;
	height: 40px;
	padding: 10px 10px 0 10px;
	color: #666666;
	background-color: #DEDACB;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	border-right: 1px solid #666666;
	font-family: "Cantarell", serif;
}

#featured_slide ul#featured_tabs li.last a {
	border-right: none;
}

#featured_slide ul#featured_tabs li a:hover,#featured_slide ul#featured_tabs li.ui-state-active a
	{
	color: #FFFFFF;
	background-color: #333333;
}


.CSSTableGenerator {

	margin:0px;padding:0px;

	width:100%;
	box-shadow: 10px 10px 5px #888888;

	border:1px solid #000000;

	

	-moz-border-radius-bottomleft:6px;

	-webkit-border-bottom-left-radius:6px;

	border-bottom-left-radius:6px;

	

	-moz-border-radius-bottomright:6px;

	-webkit-border-bottom-right-radius:6px;

	border-bottom-right-radius:6px;

	

	-moz-border-radius-topright:6px;

	-webkit-border-top-right-radius:6px;

	border-top-right-radius:6px;

	

	-moz-border-radius-topleft:6px;

	-webkit-border-top-left-radius:6px;

	border-top-left-radius:6px;

}.CSSTableGenerator table{

	width:100%;

	height:100%;

	margin:0px;padding:0px;

}.CSSTableGenerator tr:last-child td:last-child {

	-moz-border-radius-bottomright:6px;

	-webkit-border-bottom-right-radius:6px;

	border-bottom-right-radius:6px;

}

.CSSTableGenerator table tr:first-child td:first-child {

	-moz-border-radius-topleft:6px;

	-webkit-border-top-left-radius:6px;

	border-top-left-radius:6px;

}

.CSSTableGenerator table tr:first-child td:last-child {

	-moz-border-radius-topright:6px;

	-webkit-border-top-right-radius:6px;

	border-top-right-radius:6px;

}.CSSTableGenerator tr:last-child td:first-child{

	-moz-border-radius-bottomleft:6px;

	-webkit-border-bottom-left-radius:6px;

	border-bottom-left-radius:6px;

}.CSSTableGenerator tr:hover td{

	

}
.CSSTableGenerator tr:nth-child(odd){ background-color:#ffaa56; }

.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }
.CSSTableGenerator td{

	vertical-align:middle;

	

	

	border:1px solid #000000;

	border-width:0px 1px 1px 0px;

	text-align:left;

	padding:9px;

	font-size:10px;

	font-family:Arial;

	font-weight:normal;

	color:#000000;

}.CSSTableGenerator tr:last-child td{

	border-width:0px 1px 0px 0px;

}.CSSTableGenerator tr td:last-child{

	border-width:0px 0px 1px 0px;

}.CSSTableGenerator tr:last-child td:last-child{

	border-width:0px 0px 0px 0px;

}

.CSSTableGenerator tr:first-child td{

		background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);


	background-color:#ff7f00;

	border:0px solid #000000;

	text-align:center;

	border-width:0px 0px 1px 1px;

	font-size:14px;

	font-family:Arial;

	font-weight:bold;

	color:#ffffff;

}

.CSSTableGenerator tr:first-child:hover td{

	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);


	background-color:#ff7f00;

}

.CSSTableGenerator tr:first-child td:first-child{

	border-width:0px 0px 1px 0px;

}

.CSSTableGenerator tr:first-child td:last-child{

	border-width:0px 0px 1px 1px;

}